@page "/"

<h2 class="pb-2">DevExpress Blazor Components</h2>
<p class="pb-2 mw-1100">
   Blazor App to investigate issues and for support purposes
</p>
<div class="pb-2 mw-1100">
    <img class="fit-width" src="images/banner.png" />
</div>

