@page "/listbox"
@using Microgate.Extranet.Models;
<h3>ListBox</h3>
<DxListBox Data="@Roles"
           TextFieldName="@nameof(AspNetRole.Name)"
           SelectionMode="ListBoxSelectionMode.Multiple"
           ShowCheckboxes="true"
           @bind-Values="@RolesSelected">
</DxListBox>
@if (RolesSelected != null)
{
    <p>There are @RolesSelected.Count() Role(s) in RolesSelected collection</p>
}